@page
@model ProiectSemestru.Pages.Visits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Patient.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Consultation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Consultation.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Doctor.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Visit?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
