@page "/"
@model ProiectSemestru.Pages.Visits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].date)
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].number)
            </th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].Patient.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].Consultation.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit[0].Doctor.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Visit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultation.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
